@font-face {
  font-family: '<%= fontName %>';
  font-weight: normal;
  font-style: normal;
  src: url('<%= fontPath %><%= fontName %>.eot?<%= fontDate %>');
  src: url('<%= fontPath %><%= fontName %>.woff2?<%= fontDate %>') format('woff2'),
       url('<%= fontPath %><%= fontName %>.woff?<%= fontDate %>') format('woff'),
       url('<%= fontPath %><%= fontName %>.ttf?<%= fontDate %>') format('truetype'),
       url('<%= fontPath %><%= fontName %>.eot?#iefix-<%= fontDate %>') format('embedded-opentype');
}

.<%= className %>:before,
{
  display: inline-block;
  font-family: '<%= fontName %>';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  //line-height: 1;
  text-transform: none;
}

/*
Glyphs list
*/
<% _.each(glyphs, function(icon){ %>
.icon-<%= icon.name %>:before {
 content: '\<%= icon.unicode[0].charCodeAt(0).toString(16) %>';
}
<% }) %>