@font-face {
  font-family: 'BuenosAires';
  src: url('../font/buenosaires-bold.woff2') format('woff2'),
       url('../font/buenosaires-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}