.btn{
  display: inline-block;
  padding: 15px 20px 15px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
}

.btn-primary{
  color: #fff;
  background: $pink;
  border: 1px solid $pink;
}

.btn-outline{
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}