html {
  /* équivalence 1rem = "10px" sur l'élément racine */
font-size: 62.5%;
}

body{
  font-family: $font;
  font-size: 1.4em;
  font-weight: 500;
  line-height: normal;
  color: $grey;
}

h1{
  font-family: 'BuenosAires';
  font-size: 6.4rem;
  font-weight: 700;
}

h2{
  font-family: 'BuenosAires';
  font-size: 4.8rem;
  font-weight: 700;
}

a{
  text-decoration: none;
}

