// OOCSS
.LPASI__title{
  color: $black;
  text-align: center;
  margin: 80px auto 10px;
}
.LPASI__subTitle{
  text-align: center;
  margin: 0 auto 40px;
}


// BEM
.LPAcquisitionSignIN__header{
  position: absolute;
  padding: 27px 30px;
}

.LPAcquisitionSignIN__section {
  background: #fff;
  overflow: hidden;
}

.LPASITopBanner{
  min-height: 451px;
  color: #fff;
  padding: 122px 0 104px 100px;
  @include background-2x( '../img/hopwork-seances-photos-mai-2017-vincent-bousserez-hd-imgp-0329', 'jpg', auto, auto, center center, no-repeat );
  background-size: cover;
}

.LPASITopBanner__h1{
  margin-bottom: 40px;
}

.LPASIInfos{
  display: flex;
  padding: 0 80px 40px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.LPASIInfos__h2{
  color: $black;
  width: 100%;
  margin-bottom: 33px;
}

.LPASIInfos__column{
  width: 30%;
  
  h3{
    font-size: 2rem;
    font-weight: 600;
    color: $black;
    margin-bottom: 10px;
  }

  img{
    margin-bottom: 16px;
  }
}

.LPASIEstimateContent{
  display: flex;
  margin: 40px;
  padding: 80px 40px 69px 40px ;
  color: #fff;
  background: linear-gradient(to bottom, $gradientPink1, $gradientPink2);
  border-radius: 30px;

  h2{
    line-height: 1.21;
    margin-bottom: 20px;
  }
}

.LPASIEstimate__text{
  ol{
    font-size: 2rem;
    font-weight: normal;
  }
  li{
    margin-bottom: 20px;
  }
  strong{
    font-weight: 700;
  }
}

.LPASIEstimate__question{
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.LPASIEstimate__image{
  img{
    max-width: 100%;
  }
}

.LPASIEstimate__link{
  margin-bottom: 30px;
}

.LPASITestimonials{
  text-align: center;
  background: $greyBG;
  padding: 00px 100px 50px;
}

.LPASITestimonials__h2{
  text-align: center;
  color: $black;
  margin-bottom: 10px;
}

.LPASITestimonials__cardContainer{

}

.LPASITestimonials__card{
  display: flex;
  color: $black;
  background: #fff;
  max-width: 538px;
  width: calc((100% - 60px) / 2);
  border-radius: 5px;
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.05);  
  margin-bottom: 30px;
  padding: 15px;;

  &:nth-child(1){
    float: left;
    margin-right: 30px;
  }
  &:nth-child(2){
    float: left;
    margin-right: 30px;
  }
  &:nth-child(3){
    float: right;
    margin-right: 30px;
  }
  &:nth-child(4){
    float: right;
    margin-right: 30px;
  }
}

.LPASITestimonials__cardImage{
  display: inline-block;
  width: 81px;
  border-radius: 50%;
  margin-right: 10px;
}

.LPASITestimonials__cardText{
  text-align: left;
  width: 417px;
}

.LPASITestimonials__cardTitle{
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
}

.LPASITestimonials__cardDate{
  display: inline-block;
  color: $grey2;
  float: right;
}

.LPASIForm__form{
  width: 685px;
  max-width: 100%;;
  padding-bottom: 160px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  font-size: 1.6rem;


  h4{
    font-size: 2rem;
    margin-bottom: 10px;;
  }
}

.LPASIForm__label{
  display: none;
}
.LPASIForm__input{
  display: block;
  float: left;
  width: 320px;
  color: $black;
  font-size: 1.6rem;
  border: $formBorder;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 14px;

  &:nth-child(2n+1){
    margin-right: 15px;
  }

  &:last-child{
    margin-bottom: 20px;
  }
}

.LPASIForm__selectContainer{
  position: relative;
  float: left;
  width: 320px;
  margin-bottom: 50px;
  border: $formBorder;
  border-radius: 3px;
  overflow: hidden;

  &:after{
    content:'';
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $black;
    transform: translate(-50% -50%);
  }
}

.LPASIForm__select{
  display: block;
  float: left;
  color: $black;
  width: calc(100% + 20px);
  font-size: 1.6rem;
  padding: 15px;
  background: transparent;
  border: none;

  &:disabled, &[disable]{
    color: $grey2;
  }
}  

.LPASIForm__submit{
  display: block;
  margin: 0 auto 15.5px;
  cursor: pointer;
}

.LPASIForm__legend{
  text-align: center;
}

.LPASI__footer{
  color: #fff;
  height: 70px;
  background: $bluedark;
  padding:  29px 103px 24px;
}

@media (max-width: $screen-lg){
  .LPASITestimonials__card{
    width: 100%;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
      float: none;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .LPASIEstimateContent{
    display: block;
  }
  .LPASIEstimate__text{
    width: 100%;
  }
}

@media (max-width: $screen-md){
  .LPASIForm__input{
    width: 100%;
  }
  .LPASIForm__selectContainer{
    width: 100%;
  }
}